.cardContainer{
    margin: 0 auto;
    width: 80%;;
    display:grid;
    grid-template-columns: 50% 50%;
}

.followers{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding-top:20px
    
}

.details{
    padding-left: 20px;
    margin-bottom: 20px;
}